[submodule "ExternalLibraries"]
	path = ExternalLibraries
url=https://github.com/GorgonCryoEM/ExternalLibraries.git
[submodule "Utilities"]
	path = Utilities
url=https://github.com/GorgonCryoEM/Utilities.git
