[submodule "ExternalLibraries"]
	path = ExternalLibraries
	url = git@github.com:GorgonCryoEM/ExternalLibraries.git
[submodule "Utilities"]
	path = Utilities
	url = git@github.com:GorgonCryoEM/Utilities.git
